const expect = require("expect.js");
const { createAccount, LocalSigner } = require("orbs-client-sdk");
const { {{AppName}} } = require("../src/{{AppNameLowercase}}");
const { deploy{{AppName}}, getClient } = require("../src/deploy_{{AppNameLowercase}}");

describe("{{AppName}}", () => {
    it("updates contract state", async () => {
		const contractOwner = createAccount();
		const contractName = "{{AppName}}" + new Date().getTime();

		const signer = new LocalSigner(contractOwner);
		await deploy{{AppName}}(getClient(signer), contractName);
		const {{AppNameLowercase}} = new {{AppName}}(getClient(signer), contractName);

		const defaultValue = await {{AppNameLowercase}}.value();
		expect(defaultValue).to.be.eql(0);

		const updatedValue = await {{AppNameLowercase}}.add(7);
		expect(updatedValue).to.be.eql(7);
	});
});
